In [9]:
import pandas as pd
 
body_measurement_df = pd.DataFrame.from_records((
  (2, 83.82, 8.4),
  (4, 99.31, 16.97),
  (3, 96.52, 14.41),
  (6, 114.3, 20.14),
  (4, 101.6, 16.91),
  (2, 86.36, 12.64),
  (3, 92.71, 14.23),
  (2, 85.09, 11.11),
  (2, 85.85, 14.18),
  (5, 106.68, 20.01),
  (4, 99.06, 13.17),
  (5, 109.22, 15.36),
  (4, 100.84, 14.78),
  (6, 115.06, 20.06),
  (2, 84.07, 10.02),
  (7, 121.67, 28.4),
  (3, 94.49, 14.05),
  (6, 116.59, 17.55),
  (7, 121.92, 22.96)), columns=("age", "height_cm", "weight_kg"))
 
body_measurement_df.groupby(by="age").mean()

body_measurement_df.groupby(by='height_cm').agg({
    'age': ['mean', 'max', 'min'],
    'weight_kg': ['mean','max', 'min'],
})

           age         weight_kg
          mean max min      mean    max    min
height_cm
83.82      2.0   2   2      8.40   8.40   8.40
84.07      2.0   2   2     10.02  10.02  10.02
85.09      2.0   2   2     11.11  11.11  11.11
85.85      2.0   2   2     14.18  14.18  14.18
86.36      2.0   2   2     12.64  12.64  12.64
92.71      3.0   3   3     14.23  14.23  14.23
94.49      3.0   3   3     14.05  14.05  14.05
96.52      3.0   3   3     14.41  14.41  14.41
99.06      4.0   4   4     13.17  13.17  13.17
99.31      4.0   4   4     16.97  16.97  16.97
100.84     4.0   4   4     14.78  14.78  14.78
101.60     4.0   4   4     16.91  16.91  16.91
106.68     5.0   5   5     20.01  20.01  20.01
109.22     5.0   5   5     15.36  15.36  15.36
114.30     6.0   6   6     20.14  20.14  20.14
115.06     6.0   6   6     20.06  20.06  20.06
116.59     6.0   6   6     17.55  17.55  17.55
121.67     7.0   7   7     28.40  28.40  28.40
121.92     7.0   7   7     22.96  22.96  22.96